<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async;let i = index">
    <mat-expansion-panel-header>
        <mat-panel-description>
            {{post.title}}
        </mat-panel-description>
        <button mat-raised-button
        color = "warn"
        (click) = "delete(post.id)">
        Delete
        </button>
        </mat-expansion-panel-header>
        <p>{{post.body}}</p>  
        <p>number of likes: {{post.Like}}</p>
        <button mat-raised-button
        color = "primary"
        (click) = "numLikes(post.id,post.Like)">
        Like
        </button>
    </mat-expansion-panel>
</mat-accordion>
  