<div>
    <button mat-raised-button
    color = "primary"
    (click) = "addCustomerFormOpen = !addCustomerFormOpen">
  Add Customer
  </button>      
  </div>
  <div>
    <customerForm *ngIf = "addCustomerFormOpen"
    (update) = "add($event)"
    (closeForm) = "addCustomerFormOpen = false">
    </customerForm>
  </div>

<table mat-table [dataSource]="customers" class="mat-elevation-z8">
        
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>name</th>
      <td mat-cell *matCellDef="let element; let i=index">
        <span *ngIf = "i!=rowToEdit">{{element.name}}</span>
        <mat-form-field *ngIf = "i==rowToEdit" >
        <input          
          matInput
          [(ngModel)]="customerToEdit.name" 
          [value] = "element.name"            
                  >
                </mat-form-field>         
           </td>
    </ng-container>

    <!-- education Column -->
    <ng-container matColumnDef="education">
      <th mat-header-cell *matHeaderCellDef> education </th>
      <td mat-cell *matCellDef="let element;let i=index"> 
        <span *ngIf = "i!=rowToEdit">{{element.education}}</span>
        <mat-form-field *ngIf = "i==rowToEdit" >
        <input          
          matInput
          [(ngModel)]="customerToEdit.education" 
          [value] = "element.education"            
                  >
                </mat-form-field>         
           </td>
    </ng-container>
  
    <!-- income Column -->
    <ng-container matColumnDef="income">
      <th mat-header-cell *matHeaderCellDef> income </th>
      <td mat-cell *matCellDef="let element;let i=index"> 
        <span *ngIf = "i!=rowToEdit">{{element.income}}</span>
        <mat-form-field *ngIf = "i==rowToEdit" >
        <input          
          matInput
          [(ngModel)]="customerToEdit.income" 
          [value] = "element.income"            
                  >
                </mat-form-field>         
           </td>
    </ng-container>

 <!-- delete Column -->
 <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-raised-button
       color = "warn"
       (click)="delete(element.id)">
        Delete
     </button>
      </td>
  </ng-container>
  
  <!-- edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element; let i = index">
          <button 
            *ngIf = "i!=rowToEdit"
            mat-raised-button
            (click) = "moveToEditState(i)">
              Edit
            </button> 
            <button 
              *ngIf = "i==rowToEdit"
              mat-raised-button
              color="primary"
              (click) = "updateCustomer()"
            >
              update
            </button> 
            <button 
              *ngIf = "i==rowToEdit"
              mat-raised-button
              (click) = "rowToEdit = null"
            >
              Cancel
            </button>                   
          </td>
        </ng-container>    
  
  <!-- predict Column -->
 <ng-container matColumnDef="predict">
  <th mat-header-cell *matHeaderCellDef>predict</th>
  <td mat-cell *matCellDef="let element; let i = index">
    <button *ngIf = !element.result  mat-raised-button
     color = "primary"
     (click)="predict(i)">
     predict
   </button>
   <button *ngIf = element.result&&!element.saved mat-raised-button
   color = "primary"
   (click) = "updateResult(i)">
   Save
  </button>
  <p *ngIf = element.saved>saved</p>
    </td>
</ng-container>

    <!-- result Column -->
    <ng-container matColumnDef="result">
      <th mat-header-cell *matHeaderCellDef>result</th>
      <td mat-cell *matCellDef="let element; let i=index">
      <span [ngClass]="[element.result=='Will pay' ? 'green' : 'red']">{{element.result}}</span></td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

