<mat-card>
    <h1>Customers Form</h1>
    <form #customersForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>education</mat-label>
              <input matInput 
                [(ngModel)] = "education" 
                name = "education" 
                required>
            </mat-form-field>
          </p>  
          <p>
            <mat-form-field appearance="standard">
              <mat-label>income</mat-label>
              <input matInput 
                [(ngModel)] = "income" 
                name = "income" 
                required>
            </mat-form-field>
            <div>
            <button mat-raised-button color="primary"
            (click)="updateParent()">
                Add
            </button>
            <button mat-raised-button color="warm" (click)="tellParentToClose()">
                Cancel
            </button>
        </div> 
        <mat-error *ngIf = isError>education not valid</mat-error>
      </div>
    </form>
   </mat-card>