<mat-card>
    <h1>Student Form</h1>
    <form #studentForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>mathematics</mat-label>
              <input matInput 
                [(ngModel)] = "mathematics"
                name = "mathematics"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>psychometric</mat-label>
              <input matInput 
                [(ngModel)] = "psychometric" 
                name = "psychometric" 
                required>
            </mat-form-field>
          </p>  
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Pay</mat-label>
              <mat-select place-holder = "pay" [(ngModel)] = "pay" name = "pay" required>
                <mat-option *ngFor="let option of options" [value]="option.value">
                  {{option.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>       
        </p> 
          <!----
          <p>
            <mat-label>pay:</mat-label>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="true">yes</mat-radio-button>
                <mat-radio-button value="false">no</mat-radio-button>
              </mat-radio-group>              
          </p>                                     
        -->    
        <p *ngIf = result>
          <mat-form-field appearance="fill">
            <mat-label>predict</mat-label>
            <mat-select [(ngModel)] = "result" name = "result">
              <mat-option value="Will leave">Will leave</mat-option>
              <mat-option value="Will not leave">Will not leave</mat-option>  
            </mat-select>
          </mat-form-field>       
      </p>  
        <div>
            <button mat-raised-button color="primary" *ngIf = !result
            (click)="predict()">
                Predict
            </button>
        </div>
           <button *ngIf = result
          mat-raised-button
          color="primary"
          (click) = "add()">
          save
        </button> 
        <button  *ngIf = result
          mat-raised-button
          (click)="cancel()">
          Cancel
        </button>                   
      </div>
    </form>
   </mat-card>